$bg-color:rgb(54, 160, 51);
$w:100px;

@mixin main-font{
    color: aqua;
    font-size: 25px;
    line-height: 30px;
}
@mixin padings($value, $border-color:rgb(253, 56, 220)){
    border: 1px solid $border-color;
    padding-top: $value*2;
    padding-bottom: $value*3;
    padding-left: $value;
    padding-right: $value;
}

body{
    background-color: $bg-color;
}

.block{
    width: $w + 200px;
    margin: $w / 2;
    padding: $w - 50px;
    border:$w*0.1 solid rgb(136, 255, 0);
    background-color: adjust-color(rgb(153, 0, 255), $red:-15%);
    
    img{
    width: 100% - 10%;
    }

    p{
        color: adjust-color(rgb(255, 0, 76), $lightness: +10%);
        .bold{
        font-weight: bold;
        }
        &:last-child {
            font-style: italic;
        }
    }
}

p{
    @include main-font;
    @include padings(20px, rgb(3, 91, 255));

}




