$bg-color:rgb(210, 255, 208);
$w:100px;

@mixin main-font{
       @include set-color-text();
    // color: aqua;
    font-size: 25px;
    line-height: 30px;
}
@mixin padings($value, $border-color:rgb(253, 56, 220)){
    border: 1px solid $border-color;
    padding-top: $value*2;
    padding-bottom: $value*3;
    padding-left: $value;
    padding-right: $value;
}

@mixin set-color-text {
    @if(lightness($bg-color)< 30%){
        color: azure;
    }
    @else{
        color: rgb(255, 1, 1);
    }
}

body{
    background-color: $bg-color;
    @include set-color-text();
}

.block{
    width: $w + 200px;
    margin: $w / 2;
    padding: $w - 50px;
    border:$w*0.1 solid rgb(136, 255, 0);
    background-color: adjust-color(rgb(153, 0, 255), $red:-15%);
    
    img{
    width: 100% - 10%;
    }

    p{
        color: adjust-color(rgb(255, 0, 76), $lightness: +10%);
        .bold{
        font-weight: bold;
        }
        &:last-child {
            font-style: italic;
        }
    }
}

p{
    @include main-font; //миксин
    @include padings(20px, rgb(3, 91, 255));

}

@for $i from 1 to 4 {
    .item-#{$i}{
        width: 90%;
        height: 50px;
        background-color: adjust-color(rgb(87, 1, 27), $lightness: +90% / $i);
    }
}

/* верстка меню по ВЕМ*/
.menu{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    &__item{
        color: rgb(255, 0, 179);
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.6s;
        &:hover{
            color: rgb(253, 122, 214);
        }
        &--active{
            font-weight: bold;
            color: rgb(0, 162, 255);
        }
        @media(max-width:900px){
            font-size: 40px;
        }
    }
    @media(max-width:768px){
        display: none;
    }
}







